body {
    background-color: #000020;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: white;
    font-family: "Product Sans";
    text-decoration: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spotify-btn {
    background-color: #1DB954;
    border-radius: 500px;
    padding: 19px 56px 21px;
    color: white;
    font-size: 16px;
}

.space20 {
    height: 20px;
    width: 20px;
}