body {
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

#background-image-div {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    transform: scale(1.2);
    z-index: inherit;
    transition: background ease 2s;
}

.darken {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center top;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1;
    height: auto;
}

#playing-div {
    max-width: 100%;
    min-width: 85%;
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#playing-img {
    width:100%;
    height:auto;
    border-radius: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#img-wrapper{
    max-width:45%;
    margin-right: 25px;
}

#pause-button{
    position:relative;
    left:50%;
    bottom: 35px;
    transform: translateX(-50%);
    cursor:pointer;
    border-radius:50%;
    border:1px solid black;
}

#song-info-div {
    margin-left: 25px;
    width: 100%;
    vertical-align: middle;
    align-self: center;
}

#seekbar-bg {
    border-radius: 50px;
    margin-top: 40px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.30), 0 5px 15px rgba(0, 0, 0, 0.22);
}

#seekbar-now {
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.90);
    height: 8px;
    transition: linear width 1s;
}

.settings-div {
    padding: 5px 10px 5px 10px;
    margin: 10px;
    background-color: #FFFFFF40;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.30), 0 5px 15px rgba(0, 0, 0, 0.22);
    border-radius: 25px;
    z-index: 3;
}

.settings-icons {
    font-size: 26px;
}

.fadeInOut {
    transition-duration: 200ms;
    transition-property: visibility, opacity;
    transition-delay: 0ms;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition-duration: 200ms;
    transition-property: opacity, visibility;
    transition-delay: 200ms;
}

.material-icons {
    vertical-align: middle;
}

span, p, h1, h2, h3, h4, h5, h6, a {
    color: #FFFFFF;
}

h1 {
    font-size: 70px;
    margin: 0px;
}

h2 {
    font-size: 50px;
    margin: 0px;
}

h3 {
    font-size: 25px;
}

i.left {
    float: left;
    margin-right: 15px;
    margin-top: 3px;
}

.left {
    float: left;
}

i.right {
    float: right;
    margin-left: 15px;
    margin-top: 3px;
}

.right {
    float: right;
}

i.tiny {
    font-size: 1rem
}

i.small {
    font-size: 2rem
}

i.medium {
    font-size: 4rem
}

i.large {
    font-size: 6rem
}

.left-align {
    text-align: left;
}

.left {
    float: left !important;
}

.notbold {
    font-weight: normal !important;
}

/* For mobile and tablets */

@media only screen and (max-width:767px) and (orientation: portrait) {
    #playing-div {
        flex-direction: column;
        justify-content: center;
        transform: translate(-50%, -50%);
    }
    #playing-img {
        width:100%;
        height: auto;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
    #img-wrapper{
        margin-bottom: 10px;
        margin-right: 0px;
        max-width: 80%;
        max-height: 60%;
    }
    #song-info-div {
        margin-left: 0px;
        width: 80%;
    }
    #seekbar-bg {
        border-radius: 50px;
        margin-top: 20px;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.50);
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.30), 0 5px 15px rgba(0, 0, 0, 0.22);
    }
    #device-name {
        vertical-align: sub;
    }
    h1 {
        font-size: 30px;
        margin: 0px;
    }
    h2 {
        font-size: 20px;
        margin-top: 8px;
    }
    h3 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 768p) and (max-width: 1199px) and (orientation: portrait) {
    #playing-div {
        flex-direction: column;
        justify-content: center;
        transform: translate(-50%, -50%);
    }
    #playing-img {
        width:100%;
        height: auto;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
    #img-wrapper{
        margin-bottom: 10px;
        margin-right: 0px;
        max-width: 80%;
        max-height: 60%;
    }
    #song-info-div {
        width: 80%;
    }
    #seekbar-bg {
        border-radius: 50px;
        margin-top: 20px;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.50);
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.30), 0 5px 15px rgba(0, 0, 0, 0.22);
    }
    #device-name {
        vertical-align: sub;
    }
    h1 {
        font-size: 50px;
        margin: 0px;
    }
    h2 {
        font-size: 30px;
        margin-top: 8px;
    }
    h3 {
        font-size: 15px;
    }
}

@media only screen and (orientation: landscape) and (max-width:767px) {
    #playing-div {
        flex-direction: row;
    }
    #playing-img {
        width:100%;
        height: auto;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
    #img-wrapper{
        max-height: 45%;
        margin-right: 10px;
    }
    #song-info-div {
        margin-left: 5px;
        width: 55%;
    }
    h1 {
        font-size: 40px;
        margin: 0px;
    }
    h2 {
        font-size: 30px;
        margin: 0px;
    }
    h3 {
        font-size: 15px;
    }
}

@media only screen and (orientation: landscape) and (max-width:1199px) {
    #playing-div {
        flex-direction: row;
    }
    #playing-img {
        margin-right: 10px;
        height: auto;
        max-height: 45%;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
    #song-info-div {
        margin-left: 5px;
        width: 50%;
    }
    h1 {
        font-size: 50px;
        margin: 0px;
    }
    h2 {
        font-size: 35px;
        margin: 0px;
    }
    h3 {
        font-size: 20px;
    }
}
