* {
    box-sizing: border-box;
}

body {
    background-color: #000020;
    color:white;
    font-family: "Product Sans";
    font-size: 16px;
    font-size: 1rem;
    margin: 0;
}

p,
h1,
h2,
h3,
a {
    color: white;
    text-decoration: none;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

.spotify_btn {
    background-color: #15883D;
    border-radius: 500px;
    padding: 19px 56px 21px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .25s;
}

.spotify_btn:hover {
    background-color: #1DB954;
    transform: scale(1.025);
}

#login_btn {
    margin-bottom: 20px;
}

.space20 {
    height: 20px;
}

#app_title {
    margin-bottom: 5px;
}

#app_desc {
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 300;
    letter-spacing: 1px;
}

#links_icons_div {
    margin-bottom: 20px;
}

.links_icons {
    fill: gray;
    transition: all .25s;
    margin: 4px;
}

.links_icons:hover {
    fill: white;
}

#disclaimer {
    font-weight: normal;
    opacity: 50%;
    font-size: 12px;
    transition: all .25s;
}

#disclaimer:hover {
    opacity: 100%;
}


.flag_icons {
    height: 32px;
    width: auto;
    opacity: 50%;
    transition: all .25s;
    margin: 5px;
}

.flag_icons:hover {
    opacity: 100%;
    transform: scale(1.025);
}